@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* General Styles */

* {
  box-sizing: border-box;
  font-family: Montserrat, sans-serif;
}

body {
  margin: 0 auto;
  position: relative;
  background-color: #252b42;
  display: flex;
  flex-direction: column;
  gap: 10px;
  outline: 1px solid cyan;
}

.container {
  display: flex;
  margin: 0 auto;
}

/* Hero Section */

.hero-section {
  background-image:
   linear-gradient(#00000082, #00000071, #00000091),
    url("../images/cover.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  gap: 25px;
  padding: 0 0 1rem ;
}

.hero-section nav {
  min-width: 80%;
  display: flex;
  align-items: center;
}

nav .logo {
  width: 50%;
}

.links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 50%;
}

.links .icons {
  display: flex;
  align-items: center;
}

.links .icons img {
  padding: 1rem;
}

.links .menu {
  position: absolute;
  right: 50px;
}

.links ul {
  display: flex;
  list-style: none;
}

.links ul li {
  padding: 1rem;
}

.links ul li a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  color: #fff;
}

.hero-section-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  color: #fff;
}

.hero-section-text .info {
  height: fit-content;
}

.hero-section-text .info h1 {
  font-size: 58px;
  font-weight: 800;
  line-height: 80px;
  word-break: normal;
  max-width: 509px;
}

.hero-section-text .info p {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  word-break: normal;
  max-width: 376px;
}

.action-buttons .contained {
  height: 48px;
  padding: 10px 36px;
  border-radius: 37px;
  background-color: #ffa62b;
  color: white;
  font-size: 14px;
  font-weight: 700;
  line-height: 28px;
  border: none;
}

.action-buttons .outlined {
  height: 48px;
  padding: 10px 36px 10px 36px;
  border-radius: 37px;
  background-color: transparent;
  color: white;
  font-size: 14px;
  font-weight: 700;
  line-height: 28px;
  border: 1px solid #fff;
}

.hero-section-text form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #fff;
  padding: 1rem 1.5rem;
  min-width: 328px;
  border-radius: 10px;
  color: #000;
}

.hero-section-text form button {
  margin: 1rem 0;
  height: 58px;
  padding: 15px 40px 15px 40px;
  border-radius: 5px;
  background-color: #ffa62b;
  color: white;
  border: none;
  font-size: 14px;
  font-weight: 700;
  line-height: 28px;
}

.hero-section-text form legend {
  padding: 1rem 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
}

form .input-feild {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

form .input-feild label {
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
}

.input-feild input,
.input-feild select {
  height: 50px;
  border: 1px solid #bdbdbd;
  background-color: #f9f9f9;
  border-radius: 5px;
  padding: 1rem;
}

.input-feild input::placeholder,
.input-feild select {
  color: #737373;
  font-size: 14px;
  font-weight: 600;
  line-height: 28px;
}

select:focus,
input:focus {
  outline: none;
}

@media (max-width: 768px) {
  .hero-section nav {
    min-width: 100%;
  }
}

@media (max-width: 600px) {
  .hero-section nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  nav .logo {
    width: 100%;
    text-align: center;
  }

  .links {
    width: 100%;
    /* background-color: pink; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .links ul li {
    padding: 0.6rem;
  }
}

.section-one {
  margin: 0 auto;
  width: 100vw;
}
.section-one-text {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  flex-direction: column;
  color: #fff;
  width: 500px;
}

.section-one-text h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}

.section-one-text p {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  word-break: normal;
  font-size: 12px;
}

.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
  padding-top: 30px;
}

.card-content-for-first-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30.3%;
}

.top-card {
  display: flex;
  flex-direction: row;
  font-size: 1rem;
  background-color: #add8e6;
  border: 1px solid #add8e6;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 10px;
}

 .top-card .card-icone {
  display: flex;
}

.container .card-content-for-first-card .top-card .card-icone img {
  display: flex;
  object-fit: cover;
  padding-top: 15px;
  margin: 0 auto;
}

.top-card .card-icone h4 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 5px;
}

.card-text {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border: 1px solid #fff;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  font-size: 1rem;
  color: #a9a9a9;
  line-height: 0;
  padding: 10px;
}

.card-content-for-second-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30.3%;
}

.top-card-two {
  display: flex;
  flex-direction: row;
  font-size: 1rem;
  background-color: #add8e6;
  border: 1px solid #add8e6;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 10px;
}

.top-card-two .card-icone-two {
  display: flex;
}

.top-card-two .card-icone-two img {
  display: flex;
  object-fit: cover;
}

.top-card-two .card-icone-two h4 {
  display: flex;
  padding-left: 5px;
}

.card-text-two {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border: 1px solid #fff;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  font-size: 1rem;
  color: #a9a9a9;
  line-height: 0;
  padding: 10px;
}

.card-content-for-third-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30.3%;
}

.top-card-three {
  display: flex;
  flex-direction: row;
  font-size: 1rem;
  background-color: #add8e6;
  border: 1px solid #add8e6;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 10px;
}

.top-card-three .card-icone-three {
  display: flex;
}

.top-card-three .card-icone-three img {
  display: flex;
  object-fit: cover;
}

.top-card-three .card-icone-three h4 {
  display: flex;
  padding-left: 5px;
}

.card-text-three {
  display: flex;
  flex-direction: column;
  line-height: 2;
  background-color: #fff;
  border: 1px solid #fff;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  font-size: 1rem;
  color: #a9a9a9;
  line-height: 0;
  padding: 10px;
}

#specialone {
  color: #08d8d8;
}

#specialtwo {
  color: #08d8d8;
}

#specialthree {
  color: #08d8d8;
}
